@import '/src/assets/styles/variables.scss';
@import '/src/assets/styles/colours.scss';
@import '/src/assets/styles/position.scss';
@import '/src/assets/styles/buttons.scss';
@import '/src/assets/styles/animations.scss';

:host {
    .home {
        @extend .center;
        flex-direction: column;
        padding-top: $navbar-height;
        height: 100vh; 
        color: #fff;
        position: relative;

        .circle, .triangle {
            position: absolute;
            z-index: -1;
            filter: blur(3px) brightness(90%);
        }

        .circle {
            top: 25%;
            right: -5%;
        }

        .triangle {
            top: 10%;
            left: 5%;
            height: 40%;
            width: auto;
            animation: spin 150s infinite linear;
        }

        h1 {
            font-weight: 700;
            font-size: 7rem;

            &:nth-child(2) {
                transition-delay: 1.25s !important;
            }
        }

        span {
            display: inline-block;
            animation: scaleUpPulse 10s infinite ease-in-out;
        }

        .button-secondary {
            transition: 0.4s all linear;
            transition: 2s transform linear;
        }
    }
}