<div class="app">
  <div class="home">
    <h1 class="hidden">If you can't do <span>IT</span></h1>
    <h1 class="hidden-x">Let us do <span>IT</span> for you</h1>
    <p routerLink="/contact" class="button-secondary hover mt-5 hidden-y">
      GET IN CONTACT
    </p>
    <img src="/assets/img/circle.png" alt="" class="circle" />
    <img src="/assets/img/triangle.png" alt="" class="triangle" />
  </div>

  <!-- About -->
  <app-about></app-about>

  <!-- Services -->
  <app-services></app-services>
</div>
