<div class="about container">
  <div id="about" class="anchor"></div>
  <div class="col-12 mx-auto d-flex align-items-center justify-content-center">
    <img src="/assets/img/home/365.png" alt="IMG1" class="me-5 col-6 hidden" />
    <div class="d-flex flex-column gap-3 ps-3">
      <h1 class="hidden-y">
        This is the about us section. Put something about the company here...
      </h1>
      <p class="hidden-y">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quo
        accusantium id, ipsum placeat distinctio.
      </p>
      <hr />
      <div class="d-flex gap-4 hidden-x">
        <div class="about-card">
          <i class="fa-solid fa-cloud fa-2x"></i>
          <p>Expert knowledge</p>
        </div>
        <div class="about-card">
          <i class="fa-solid fa-user-tie fa-2x"></i>
          <p>Professional service</p>
        </div>
      </div>
    </div>
  </div>
</div>
