<div class="services container">
  <div class="mb-5">
    <h1 class="hidden-y">Our Services</h1>
    <p class="col-12 col-lg-6 hidden-y">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit atque
      non quo ea sequi obcaecati accusantium debitis asperiores fuga.
    </p>
    <div class="d-flex flex-wrap mt-5">
      <div
        *ngFor="let service of services"
        class="col-12 col-lg-4 p-4 hidden-y"
      >
        <div class="p-4 service">
          <i class="{{ service.icon }}"></i>
          <h2>{{ service.title }}</h2>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
